@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: rgba(255, 255, 255, 1);
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: normal;
    }
}

.find-filter-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.find-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(53, 56, 63, 1);
    border-radius: 15px;

    svg {
        margin: 10px 0px 10px 10px;
    }

    input {
        background-color: rgba(53, 56, 63, 1);
        border: 0;
        margin: 10px 10px 10px 10px;
        color: rgba(113, 116, 123, 1);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: normal;

        &:focus {
            outline: none;
            border-radius: 5px;
            box-shadow: 0 0 0 1px rgba(104, 73, 255, 1)
        }
    }
}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(53, 56, 63, 1);
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
}

.vacancy-container {
    display: flex;
    flex-direction: column;
}

.vacancy-card {
    position: relative;
    background-color: rgba(53, 56, 63, 1);
    border-radius: 20px;
    width: 100%;
    max-width: 320px;
    min-height: 147px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;

    .description-like {
        display: flex;
        flex-direction: row;

        p {
            font-weight: 500;
            margin: 10px 22px 10px 10px;
        }

        svg {
            margin: 10px 10px 0 0;
            flex-shrink: 0;
        }
    }

    .payment {
        display: flex;
        flex-direction: row;

        svg {
            margin: 0px 10px 10px 10px;
            flex-shrink: 0;
        }

        p {
            font-weight: 400;
            margin: 0 0 10px 0
        }
    }
    
    .hours {
        display: flex;
        flex-direction: row;

        svg {
            margin: 0px 10px 0px 10px;
            flex-shrink: 0;
        }

        p {
            font-weight: 400;
            margin: 0 0 0px 0
        }
    }

    .address-rating-avatar {
        display: flex;
        flex-direction: row;

        svg:first-child {
            margin: 10px 10px 10px 10px;
            flex-shrink: 0;
        }

        svg:not(:first-child) {
            margin: 0 5px 9px 55px;
        }

        p {
            font-weight: 400;
            margin: 10px 0 10px 0
        }

        p:last-of-type {
            margin: 1px 5px 0 0px;
        }

        img {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 40px; 
            height: 40px;
            border-radius: 50%;
        }
    }
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 320px;

    .btn-call {
        background: rgba(25, 26, 31, 1); // или другой тёмный цвет, как на макете
        color: #fff;
        border: 1.5px solid rgba(104, 73, 255, 1); // фиолетовая обводка
        border-radius: 15px;
        padding: 10px 31px 10px 31px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.2s, color 0.2s;
    }

    .btn-call:hover {
        background: rgb(33, 34, 41); // чуть светлее при наведении
    }

    .btn-details {
        background: rgba(104, 73, 255, 1); // фиолетовый
        color: #fff;
        border: none;
        border-radius: 15px;
        padding: 10px 31px 10px 31px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.2s;
    }
    .btn-details:hover {
        background: #7d5fff; // чуть светлее при наведении
    }
}