@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

h1 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

h2 {
    color: #71747B;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 0;
}

p {
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
}

.details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    svg {
        margin-left: auto
    }

}

.job-title p {
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    flex-direction: column;
    padding: 0;

    h2, p {
        margin-bottom: 10px;
    }
}

.rating-review-block {
    display: flex;
    flex-direction: column;

    a {
        color: #2DD498;
        font-family: 'Inter', sans-serif;
        font-size: 0.75rem;
        font-weight: 400;
        text-decoration: none
    }
}

.rating-block {
    display: flex;
    flex-direction: row;
    justify-content:end;
    gap: 5px;


}

.employer-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    p {
        margin: 0 0 5px 0;
    }

    img {
        width: 40px;
        height: 40px;
    }
}

.btn-call {
    background: rgba(25, 26, 31, 1); 
    color: #fff;
    border: 1.5px solid rgba(104, 73, 255, 1); 
    border-radius: 15px;
    padding: 10px 31px 10px 31px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    margin-bottom: 20px;

}

.btn-call:hover {
    background: rgb(33, 34, 41); 
}
