@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.profile-container {

  h1 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    
  }

  .profile-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;

    }
  
    .user-name {
      color: rgba(255, 255, 255, 1);
      font-family: 'Inter', sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  .contacts-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 56, 63, 1);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;

    h2 {
      color: rgba(255, 255, 255, 1);
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0 10px 0;
    }

    p {
      color: #71747B;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0 5px 0;
    }

  }

}


.btn-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background: rgba(104, 73, 255, 1); 
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;

      &:hover {
          background: #7d5fff; 
      }
  }
}

.resume-container {

  display: flex;
  flex-direction: column;
  background-color: rgba(53, 56, 63, 1);
  border-radius: 20px;
  width: 100%;
  padding: 10px 10px 10px 10px;
  

  h2 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 10px 0;
  }

  p {
    color: #71747B;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0 0 10px 0;
  }

  .resume-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;


    h2 {
      font-weight: 500;
      margin: 0;
    }
  }

  .mini-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
    .mini-skill {
      background-color: rgba(25, 26, 31, 1);
      border-radius: 10px;
      border: 0;
      max-width: 100%;
      width: auto;
      height: auto;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      padding: 5px 10px 5px 10px;
      display: inline-block;
      word-wrap: break-word; 
      word-break: break-all; 
      white-space: normal; 
      overflow-wrap: break-word; 
      box-sizing: border-box;
    }
  }
}

