<div class="profile-container">
  <h1 class="profile-title">Профиль</h1>
  <div class="profile-user">
    <img src="assets/images/profile_pic.png" alt="user-image" class="profile-image" />
    <div class="user-name">{{ userName }}</div>
  </div>

  <div class="contacts-card">
    <p>Номер телефона</p>
    <h2>+7 987 187 8633</h2>
    <p>Имя пользователя</p>
    <h2>@ali_gurbansahedov</h2>
    <p>Роль в сервисе</p>
    <h2>{{ getRoleName() }}</h2>
  </div>

  <div *ngIf="userRole === 'finder' && !userResume && !isLoadingResume" class="btn-container">
    <button routerLink="/resume"><div>+</div>Добавить резюме</button>
  </div>

  <div *ngIf="isLoadingResume" class="loading-resume">
    <h2>Загрузка резюме...</h2>
  </div>

  <div *ngIf="resumeError" class="resume-error">
    {{ resumeError }}
  </div>

  <!-- контейнер с резюме -->
  <div *ngIf="userResume" class="resume-container">
    <div class="resume-title">
      <h2>Резюме:</h2>
      <svg (click)="editResume()" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.83325 5.83325H4.99992C4.55789 5.83325 4.13397 6.00885 3.82141 6.32141C3.50885 6.63397 3.33325 7.05789 3.33325 7.49992V14.9999C3.33325 15.4419 3.50885 15.8659 3.82141 16.1784C4.13397 16.491 4.55789 16.6666 4.99992 16.6666H12.4999C12.9419 16.6666 13.3659 16.491 13.6784 16.1784C13.991 15.8659 14.1666 15.4419 14.1666 14.9999V14.1666" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.3333 4.16663L15.8333 6.66663M16.9875 5.48747C17.3157 5.15926 17.5001 4.71412 17.5001 4.24997C17.5001 3.78581 17.3157 3.34067 16.9875 3.01247C16.6593 2.68426 16.2142 2.49988 15.75 2.49988C15.2858 2.49988 14.8407 2.68426 14.5125 3.01247L7.5 9.99997V12.5H10L16.9875 5.48747Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <p>Должность</p>
    <h2>{{ userResume.job_title }}</h2>
    <p>Образование</p>
    <h2>{{ userResume.education }}</h2>
    <p>Опыт работы</p>
    <h2>{{ userResume.work_xp }}</h2>
    <p>Навыки</p>
    <div class="mini-skills">
      <div *ngFor="let skill of resumeSkills" class="mini-skill">{{ skill }}</div>
    </div>
  </div>

</div>
