<div class="resume-container">
  <h1 class="resume-title">Новое резюме</h1>
  <h2 class="job-name">Желаемая должность</h2>
  <div class="want-job-container">
    <img src="assets/images/iconamoon_search-thin.png" alt="" class="lupa" />
    <div class="work-name">Веб-Дизайнер</div>
  </div>
  <h2 class="education">Образование</h2>
  <div class="education-container">
    <div class="education-text">
      Казанский национальный исследовательский технологический университет, 2025
      г.
    </div>
  </div>
  <h2 class="work-experience">Опыт работы</h2>
  <div class="work-experience-container">
    <div class="experince-text">Опыта работы нет</div>
  </div>
  <h2 class="skills">Навыки</h2>
  <div class="skills-container">
    <div class="skill-text">Веб-Дизайн</div>
    <img src="assets/images/basil_plus-outline.png" alt="" class="plus" />
  </div>
  <ul class="skills2">
    <li class="skill">
      <div class="skill-container">
        <p class="skill-name">Figma</p>
      </div>
    </li>

    <li class="skill">
      <div class="skill-container">
        <p class="skill-name">Adobe Photoshop</p>
      </div>
    </li>
    <li class="skill">
      <div class="skill-container">
        <p class="skill-name">Верстка</p>
      </div>
    </li>
    <li class="skill">
      <div class="skill-container">
        <p class="skill-name">Adobe Premier Pro</p>
      </div>
    </li>
    <li class="skill">
      <div class="skill-container">
        <p class="skill-name">Tilda</p>
      </div>
    </li>
  </ul>
  <button class="save-button">Сохранить</button>
  <!-- <label for="dataInput">Образование</label>
  <input id="dataInput" [(ngModel)]="inputData" placeholder="Введите текст" />
  <p>Вы ввели: {{ inputData }}</p> -->
  <div class="bottom_menu">
    <div class="bottom_container">
      <ul class="icons">
        <li class="icon">
          <img src="assets/images/flowbite_briefcase.png" alt="" />
        </li>
        <li class="icon">
          <img src="assets/images/iconamoon_heart-thin.png" alt="" />
        </li>
        <li class="icon">
          <img src="assets/images/iconamoon_history-thin.png" alt="" />
        </li>
        <li class="icon">
          <img src="assets/images/iconamoon_profile-thin.png" alt="" />
        </li>
      </ul>
    </div>
  </div>
</div>
